# Database Configuration
DB_USER=superchampions
DB_PASSWORD=superchampions
DB_NAME=superchampions
DB_PORT=2718
DATABASE_URL=postgresql://superchampions:superchampions@localhost:5432/superchampions

# Backend Configuration
PORT=7182
NODE_ENV=development

# Frontend Configuration
FRONTEND_PORT=3141
NEXT_PUBLIC_API_URL=http://localhost:7182/api
